.container {
    height: 80vh;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellow;
}

.title {
    font-size: 70px;
    background-color: aqua;
}