.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-share);
}

.title {
    font-size: 70px;
    background-color: aqua;
}

.button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}