.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcontainer {
    display: flex;
    gap: 20px;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.logout:hover {
    cursor: pointer;
}